@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

.bank-logo {
  animation: spinHorizontal 8s infinite linear;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(359deg);
  }
}


.ant-spin-text {
  padding-top: 40px !important; /* Adjust this value for more/less gap */
  color: #0d9488;
}